{% set lookup_table = {
     '6.1.7601': {
      'AMD64': {
       'installer': 'Win7AndW2K8R2-KB3134760-x64.msu',
       'url': 'https://download.microsoft.com/download/2/C/6/2C6E1B4A-EBE5-48A6-B225-2D2058A9CEFB/Win7AndW2K8R2-KB3134760-x64.msu',
       'hash': '077e864cc83739ac53750c97a506e1211f637c3cd6da320c53bb01ed1ef7a98b',
      },
      'x86': {
       'installer': 'Win7-KB3134760-x86.msu',
       'url': 'https://download.microsoft.com/download/2/C/6/2C6E1B4A-EBE5-48A6-B225-2D2058A9CEFB/Win7-KB3134760-x86.msu',
       'hash': '0486901b4fd9c41a70644e3a427fe06dd23765f1ad8b45c14be3321203695464',
      },
     },
     '6.3.9600': {
      'AMD64': {
       'installer': 'Win8.1AndW2K12R2-KB3134758-x64.msu',
       'url': 'https://download.microsoft.com/download/2/C/6/2C6E1B4A-EBE5-48A6-B225-2D2058A9CEFB/Win8.1AndW2K12R2-KB3134758-x64.msu',
       'hash': 'bb6af4547545b5d10d8ef239f47d59de76daff06f05d0ed08c73eff30b213bf2',
      },
      'x86': {
       'installer': 'Win8.1-KB3134758-x86.msu',
       'url': 'https://download.microsoft.com/download/2/C/6/2C6E1B4A-EBE5-48A6-B225-2D2058A9CEFB/Win8.1-KB3134758-x86.msu',
       'hash': 'f9ee4bf2d826827bc56cd58fabd0529cb4b49082b2740f212851cc0cc4acba06',
      },
     },
} %}

{% set winos =  lookup_table.get(grains.osversion, {}) %}
{% set arch = winos.get(grains.cpuarch, {}) %}

{% set powershell = {} %}
{% do powershell.update(arch) %} 
{% do powershell.update(salt['pillar.get']('powershell:lookup', {})) %}

